<body background="http://pre05.deviantart.net/e8f5/th/pre/i/2011/260/b/7/code_by_rasmusir-d4a4dj2.jpg" style='position:absolute; top:0px; left:0px; width:100%; max-height:100%; border:0'>
	<h1>Welcome to JEC Codebase</h1>

</body>