<!DOCTYPE html>
<<html>
<head>
	<title>JEC Codebase</title>
	{{#if showTests}}
	<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body background="http://pre05.deviantart.net/e8f5/th/pre/i/2011/260/b/7/code_by_rasmusir-d4a4dj2.jpg" style='position:absolute; top:0px; left:0px; width:100%; height:100%; border:0'>
	<header><img src="/img/logo.jpg" alt="JEC Codebase"></header>
	{{{body}}}


	{{#if showTests}}
	<div id="mocha"></div>
	<script src="/vendor/mocha.js"></script>
	<script src="/vendor/chai.js"></script>
	<script>
	mocha.ui('tdd');
	var assert = chai.assert;
	<script src="/qa/tests-global.js"></script>
	{{#if pageTestScript}}
	<script src="{{pageTestScript}}"></script>
	{{/if}}
	<script>mocha.run();</script>
	{{/if}}
	</script>
</body>
</html>